// Modules and Variables

@import "modules/reset";
@import "modules/colors";
@import "modules/typography";
@import "modules/animated-dots";
@import "modules/icon-styles";

// Mixins
@import "modules/mixins/skewed_div";
@import "modules/mixins/circular-images";
@import "modules/mixins/button-borders";
@import "modules/mixins/flex-box";
@import "modules/mixins/pic-insert";
@import "modules/mixins/icon-before";
@import "modules/button-and-mock";

// Partials
@import "partials/background";
@import "partials/accent-bar";
@import "partials/appbox-logo";
@import "partials/images";
@import "partials/profile";
@import "partials/form";
@import "partials/search-input";
@import "partials/screenshots_section";
@import "partials/newspaper-section";
@import "partials/best-way";
@import "partials/why-choose";
@import "partials/app-support";
@import "partials/nav";
@import "partials/drawn-arrow";
@import "partials/team";
@import "partials/pricing";
@import "partials/two-column-wrapper";
@import "partials/footer";
@import "partials/header";
@import "partials/video";
@import "partials/download-app";
@import "partials/marketplace-links";
@import "partials/features";
@import "partials/socialsection";
@import "partials/info";
@import "partials/blogroll";
@import "partials/new-feature";
@import "partials/popular-tags";
@import "partials/flickr";
@import "partials/back-to-top-triangle";
@import "partials/guide";
// Third Party

@import "partials/slick";
@import "partials/slick-theme"; //modified

