// border color and weight
$border-color-1: $color-4;
$border-color-2: $color-4;
$border-color-3: $color-4;
$hover-color-1: $color-2;
$hover-color-2: $color-3;
$hover-color-3: $color-3;
$heavy: 4px;
$normal: 5px;
$light: 4px;

// sizes for CIRCULAR objects
$small: 6.5em;
$small-font: 0.8em;
$medium: 7em;
$large: 10em;
$large-font: 1.2em;

// sizes for OVOID objects
    // small
$sm-width: 5em;
$sm-height: 1.5em;
$sm-radius: ($sm-width - $sm-height) / 2;
    // medium
$med-width: 7em;
$med-height: 2em;
$med-radius: ($med-width - $med-height) / 2;
    // large
$lg-width: 10em;
$lg-height: 3em;
$lg-radius: ($lg-width - $lg-height) / 2;

@mixin text-behavior {
  display: inline-block;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  text-align: center;
}
@mixin border-weight($weight) {
  border: 1px solid #000;
  border-top-width: $weight;
  border-bottom-width: $weight;
}
@mixin border-look($color, $width, $height, $radius) {
  border-color: $color;
  border-top-left-radius: ($width / 2 - $radius) 50%;
  border-top-right-radius: ($width / 2 - $radius) 50%;
  border-bottom-right-radius: ($width / 2 - $radius) 50%;
  border-bottom-left-radius: ($width / 2 - $radius) 50%;
}
@mixin button-hover($border, $background) {
  &:hover {
    border-color: $border;
    background-color: $background;
  }
}
@mixin button-jiggleOne() {
	animation: jiggle 1s infinite ease-in;
}

@keyframes jiggle {
	45%, 65% {
		transform: scale(1.4.0, .8)
	}
	50% {
		transform: scale(1.1, 0.9)
	}
	55% {
		transform: scale(0.9, 1.1) translate(0, -5px)
	}
	60% {
		transform: scale(1.4, 1.0) translate(0, -10px)
	}
}
@mixin circular-eclipse-border($color, $weight, $size) {
  @include text-behavior;
  @include border-weight($weight);
  width: $size;
  height: $size;
  border-color: $color;
  border-radius: 50%;
}
@mixin ovoid-eclipse-border ($color, $weight, $width, $height, $radius) {
  @include text-behavior;
  @include border-weight($weight);
  @include border-look($color, $width, $height, $radius);
}
@mixin button-eclipse-border ($color, $weight, $width, $height, $radius) {
  @include border-weight($weight);
  @include border-look($color, $width, $height, $radius);
  padding: ($height * 0.25) 1.5em;
}

