/*---------------------------------*/
/*-- Slanted Background PseudoEl --*/
/*---------------------------------*/

/* - may be needed - */

div .skewed-container .inner-div {
  max-width: 850px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
@mixin skewed_container ($top, $height, $z-index, $angle) {
  content: '';
  position: absolute;
  left: 0;
  top: $top;   /* -- how far from top -- */
  width: 100%;
  height: $height; /* -- height of div -- */
  z-index: $z-index;
  -webkit-transform: skewY($angle);
  transform: skewY($angle);
}
/* - sample -*/
// (div) .skewed-container:after {    // div optional depending on structure
//   content: '';
//   position: absolute;
//   left: 0;
//   top: -50%;
//   width: 100%;
//   height: 800px;
//   background: aqua;
//   -webkit-transform: skewY(5deg);
//   -moz-transform: skewY(5deg);
//   -ms-transform: skewY(5deg);
//   -o-transform: skewY(5deg);
//   transform: skewY(5deg);
// }


