$neutral: #e4e4e4;
$theme-color: #05c3f9;

.animated-dots {
  width: 0.5em;
  height: 2.5em;
  padding: 0;
  .single-dot {
    margin-top: 0.5em;
    float: left;
    &:first-child {
      margin-top: 0;
    }
  }
}
.single-dot {
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background: $neutral;
 -webkit-animation:  animated-dots 4s linear infinite; // SAFARI
  animation:         animated-dots 4s linear infinite;
  &:nth-child(2) {
   -webkit-animation-delay:  1s; // SAFARI
    animation-delay:         1s;
  }
  &:nth-child(3) {
   -webkit-animation-delay:  2s; // SAFARI
    animation-delay:         2s;
  }
  @-webkit-keyframes animated-dots { // SAFARI
    0% { background: $neutral; }
    50% { background: $theme-color; }
    100% { background: $neutral; }
  }
  @keyframes animated-dots {
    0% { background: $neutral; }
    50% { background: $theme-color; }
    100% { background: $neutral; }
  }
}

.dot-wrapper-l {
  width: 22em;
  margin-left: 19.8em
}
.dot-wrapper-r {
  width: 22em;
  margin-left: 2.8em;
}
