.animated-dots {
  width: 0.5em;
  height: 2.5em;
  padding: 0.25em 0;
  // margin: 1em 0;
  .single-dot {
    display: block;
    margin-top: 0.5em;
    &:first-child {
      margin-top: 0;
    }
  }
}
.single-dot {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background: $color-3;
 -webkit-animation:  animated-dots 4s linear infinite; // SAFARI
  animation:         animated-dots 4s linear infinite;
  &:nth-child(2) {
   -webkit-animation-delay:  1s; // SAFARI
    animation-delay:         1s;
  }
  &:nth-child(3) {
   -webkit-animation-delay:  2s; // SAFARI
    animation-delay:         2s;
  }
  @-webkit-keyframes animated-dots { // SAFARI
    0% { background: $color-3; }
    50% { background: $color-2; }
    100% { background: $color-3; }
  }
  @keyframes animated-dots {
    0% { background: $color-3; }
    50% { background: $color-2; }
    100% { background: $color-3; }
  }
}
