@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-qcuolu');
  src:url('fonts/icomoon.eot?#iefix-qcuolu') format('embedded-opentype'),
    url('fonts/icomoon.ttf?-qcuolu') format('truetype'),
    url('fonts/icomoon.woff?-qcuolu') format('woff'),
    url('fonts/icomoon.svg?-qcuolu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
%icon-fonts {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
}
$icons: (box "\e600") (flask "\e601") (phone "\e603") (mail "\e604") (location "\e605") (display "\e607") (laptop "\e606") (forward "\e609") (reply "\e60a") (bubble "\e60b") (quotes "\e60c") (search "\e617") (gear "\e60d") (mug "\e60e") (plane "\e60f") (flag "\e610") (play "\e611") (apple "\e608") (android "\e615") (facebook "\e613") (twitter "\e602") (google "\e612") (pinterest "\e616") (dribbble "\e614") (go-right "\e619") (go-left "\e618");

@each $icon in $icons {
  .icon-#{nth($icon, 1)}:before {
    content: nth($icon, 2);
    @extend %icon-fonts;
  }
}
// ----- Footer Icons ------ //
.icon-facebook:before {
  color: $color-icon-circle;
}
.icon-twitter:before {
  color: $color-icon-circle;
}
.icon-google:before {
  color: $color-icon-circle;
}
.icon-pinterest:before {
  color: $color-icon-circle;
}
.icon-dribbble:before {
  color: $color-icon-circle;
}
.icon-apple:before {
  content: "\e608";
  font-size: 2em;
}
// // ------ Some Amazing Features -----//
.icon-laptop:before {
  content: "\e606";
  font-size: 2em;
}
.icon-flask:before {
  content: "\e601";
  font-size: 2em;
}
.icon-plane:before {
  content: "\e60f";
  font-size: 2em;
}
.icon-gear:before {
  content: "\e60d";
  font-size: 2em;
}
// Live conference support available
.icon-forward:before {
  content: "\e609";
}
.icon-android:before {
  content: "\e615";
  font-size: 2em;
}
