/////buttons////////
$small-button-link-font: 500 0.750em Roboto;
$med-button-link-font: 500 0.9em Roboto;
$big-button-link-font: 1.375em Roboto;

////heads///////
////big

$head-big-bold-font: 800 1.875em Raleway;
$head-big-medium-font: 500 1.875em Raleway;
$head-big-light-font: 300 1.875em Raleway;
$head-largest-bold-font: 800 2.375em Raleway;

/////medium
$head-med-bold-font: 800 1em Raleway;
$head-med-light-font: 300 1em Raleway;
/////small
$head-small-bold-font: 600 0.938em Raleway;
$head-small-light-font: 300 0.938em Raleway;
$head-x-small-light-font: 300 0.750em Raleway;

///////text////////
$text-bold-font: 500 1.125em Roboto;
$text-light-font: 100 0.875em/1.5 Roboto;
$text-small-light-font: 300 0.750em Roboto;
$text-form-textarea: 100 0.7em/1.5 Roboto;

//////header-footer//////
$header-font: 400 0.875em Roboto;
$footer-font: 300 0.750em Roboto;

//////Pricing List Item////////
$list-item-font: 100 0.8em/3 Roboto;
