
.learn-more-link {
  width: 8em;
  margin: 2.5em 6em 2em 0;
  padding: .5em 0;
  background-color: $color-2;
  color: $color-3;
  border-color: $color-7;
  font: $small-button-link-font;
  &:hover {
    border-color: $color-2;
    background-color: $color-7;
  }
}
