.app-reviewer {
  width: 90%;
  padding-top: 0.5em;
  @media screen and (min-width: 50em) {
    width: 30%;
    padding-top: 1em;
  }
  .sm-circular-frame {
    float: left;
    margin-right: 0.5em;
  }
}
