.app-support {
  position: relative;
  @media only screen and (min-width: 550px) {
    margin-top: 5em;
    margin-bottom: 3em;
  }
  @media screen and (min-width: 1030px) {
    margin-top: 8em;
    margin-bottom: 4em;
  }
  h1 {
    font: $head-big-light-font;
    color: $color-text-medium;
    text-align: center;
  }
  ul {
    width: 100%;
    margin: 0 auto;
    font: $text-small-light-font;
    color: $color-text-medium;
    @media screen and (min-width: 50em) {
      margin-left: 15%;
      float: left;
      width: 25%;
    }
    li {
      margin: 2.5em 15%;
      @media screen and (min-width: 50em) {
        margin: 2.5em 10%;
      }
    }
    h3 {
      font: $head-med-bold-font;
      color: $color-text-dark;
      margin: 0.5em 0 1em 0;
    }
    a {
      display: block;
      margin-bottom: 0.25em;
      &:hover {
        color: $color-text-theme;
      }
    }
    span {
      float: left;
      color: $color-2;
      margin-right: 1.5em;
      &:before {
        font-size: 2em;
      }
      &:hover {
        border-color: $color-4;
      }
    }
  }
  .fullform {
    @extend form;
    width: 80%;
    @media screen and (min-width: 50em) {
      width: 45%;
      margin-right: 15%;
      margin-top: 2.5em;
    }
    p {
      margin-bottom: 1em;
      @media screen and (min-width: 50em) {
        text-align: left;
      }
    }
    label {
      font-size: 1em;
    }
    input {
      padding-bottom: 0.5em;
      height: 3em;
      border-bottom: 1px solid #bbb;
    }
    input:nth-child(2) {
      display: block;
      width: 100%;
      margin-bottom: 1em;
      @media screen and (min-width: 50em) {
        margin-right: 0.5%;
        margin-bottom: 3em;
        width: 50% - 0.5%;
        float: left;
      }
    }
    input:nth-child(3) {
      @extend :nth-child(2);
      margin-bottom: 2em;
      @media screen and (min-width: 50em) {
        margin-left: 0.5%;
        margin-right: 0;
        width: 50% - 0.5%;
      }
    }
    label {
      display: block;
      clear: left;
    }
    textarea {
      display: block;
      width: 100%;
      margin-bottom: 2em;
      margin-left: 0.5%;
    }
    button {
      margin: 0 40%;
      @media screen and (min-width: 50em) {
        margin: 0;
        float: left;
      }
    }
  }
}
