body {
  background-color: $color-background-dark;
}

// These are to create pseudo elements on the background to create teh slanted colors //


.first-skew:before {
  @include skewed_container(-2em, 11em, -7, -5deg);
  background-color: $color-background-light;
  @media only screen and (max-width: 450px) {
    height: 13em;
  }
}
.second-skew:before {
  @include skewed_container(-7.5em, 44em, -8, -5deg);
  background-color: $color-background-medium;
  @media only screen and (max-width: 875px) {
    height: 58em;
  }
  @media only screen and (max-width: 425px) {
    height: 86em;
  }
}
.third-skew:before {
  @include skewed_container(0, 35em, -6, 0deg);
  background-color: $color-background-theme;
  @media only screen and (max-width: 1025px) {
    height: 52em;
  }
  @media only screen and (max-width: 600px) {
    height: 59em;
  }
}
.fourth-skew:before {
  @include skewed_container(-4em, 60em, -5, -5deg);
  background: $color-background-light;
  @media only screen and (max-width: 1060px) {
    height: 82em;
  }
  @media only screen and (max-width: 400px) {
    top: -1em;
  }
}
.fifth-skew:before {
  @include skewed_container(-4em, 13em, -4, -5deg);
  background-color: $color-background-theme;
  @media screen and (max-width: 1030px) {
    top: 0;
  }
  @media screen and (max-width: 400px) {
    top: 4em;
  }
}
.sixth-skew:before {
  @include skewed_container(-10em, 22em, -4, 0deg);
  background-color: $color-background-theme;
  @media screen and (max-width: 900px) {
    height: 27em;
  }
}
.seven-skew:before {
  @include skewed_container(-4.5em, 12em, -5, 5deg);
  background-color: $color-background-light;
}
.eight-skew:before {
  @include skewed_container(8.5em, 47em, -6, 0);
  background-color: $color-background-medium;
  @media only screen and (max-width: 1300px) {
    height: 44em;
    }
  @media only screen and (max-width: 1250px) {
    height: 41em;
  }
  @media only screen and (max-width: 1150px) {
    height: 37em;
  }
  @media only screen and (max-width: 1050px) {
    height: 33em;
  }
  @media only screen and (max-width: 975px) {
    height: 30em;
  }
  @media only screen and (max-width: 925px) {
    height: 29em;
  }
  @media only screen and (max-width: 850px) {
    height: 27em;
  }
  @media only screen and (max-width: 800px) {
    height: 21em;
  }
  @media only screen and (max-width: 675px) {
    height: 19em;
  }
  @media only screen and (max-width: 620px) {
    height: 16em;
  }
  @media only screen and (max-width: 475px) {
    height: 42em;
  }
  @media only screen and (max-width: 450px) {
    height: 33em;
  }
  @media only screen and (max-width: 375px) {
    height: 26em;
  }
}
.nine-skew:before {
  @include skewed_container(-6.5em, 54em, -7, -5deg);
  background-color: $color-background-theme;
  @media screen and (max-width: 1350px) {
    height: 51em;
  }
  @media screen and (max-width: 1250px) {
    height: 48em;
  }
  @media screen and (max-width: 1100px) {
    height: 45em;
  }
  @media screen and (max-width: 1025px) {
    height: 39.5em;
  }
  @media screen and (max-width: 925px) {
    height: 37.5em;
  }
  @media screen and (max-width: 875px) {
    height: 36.5em;
  }
  @media screen and (max-width: 800px) {
    -webkit-transform: skewY(0);
    transform: skewY(0);
    height: 33.5em;
  }
  @media screen and (max-width: 650px) {
    -webkit-transform: skewY(0);
    transform: skewY(0);
    height: 30em;
  }
  @media screen and (max-width: 360px) {
    -webkit-transform: skewY(0);
    transform: skewY(0);
    height: 27em;
  }
}
.ten-skew:before {
  @include skewed_container(-8.5em, 38em, -8, -5deg);
  background-color: $color-background-light;
}
.eleven-skew:before {
  @include skewed_container(20em, 46em, -8, 5deg);
  background-color: $color-background-medium;
}
.twelve-skew:before {
  @include skewed_container(-2.5em, 135em, -6, 0);
  background-color: $color-background-light;
}
.thirteen-skew:before {
  @include skewed_container(-5em, 84em, -5, -5deg);
  background-color: $color-background-theme;
  @media screen and (max-width: 1050px) {
    top: -2em;
  }
  @media screen and (max-width: 600px) {
    top: -1em;
    -webkit-transform: skewY(0);
    transform: skewY(0);
  }
}
.fourteen-skew:before {
  @include skewed_container(-4em, 45em, -4, 0);
  background-color: $color-background-medium;
}
.fifteen-skew:before {
  @include skewed_container(-4.5em, 53em, -3, -5deg);
  background-color: $color-background-light;
  @media screen and (max-width: 1030px) {
    top: -1.5em;
  }
}
.seventeen-skew:before {
  @include skewed_container(-2em, 26em, -1, -2.5deg);
  background-color: $color-background-dark;
  @media screen and (max-width: 550px) {
    top: 0;
  }
}

