body {
  background-color: #add8e6;
}


// .first-skew:before {
//   @include skewed_container(10em, 187em, -10, -5deg);
//   background-color: $color-3;
// }

// .second-skew:before {
//   @include skewed_container(30em, 23em, -8, -5deg);
//   background-color: $color-8;
// }

// .third-skew:before {
//   @include skewed_container(36em, 180em, -6, 0deg);
//   background-color: $color-2;
// }

// .fourth-skew:before {
//   @include skewed_container(40em, 41em, -5, -5deg);
//   background: $color-3;
// }

// .fifth-skew:before {
//   @include skewed_container(97em, 2em, -4, 0);
//   background-color: $color-3;
// }

// .sixth-skew:before {
//   @include skewed_container(136em, 58em, -3, -5deg);
//   background-color: $color-3;
// }

// .seventh-skew:before {
//   @include skewed_container(146em, 10em, -2, 5deg);
//   background-color: $color-8;
// }
// .seventh-skew-container:before {
//   @include skewed_container(156em, 10em, -2, 0);
//   background-color: $color-8;
// }
// .eigth-skew:before {
//   @include skewed_container(223em, 10em, -2, -5deg);
//   background-color: $color-8;
// }
// .eigth-skew-container:before {
//   @include skewed_container(213em, 10em, -2, 0);
//   background-color: $color-8;
// }
// .ninth-skew:before {
//   @include skewed_container(233em, 30em, -2, -5deg);
//   background-color: $color-3;
// }
// // @mixin skewed_container ($top, $height, $z-index, $angle) {
// //   content: '';
// //   position: absolute;
// //   left: 0;
// //   top: $top;   /* -- how far from top -- */
// //   width: 100%;
// //   height: $height; /* -- height of div -- */
// //   background: aqua;
// //   z-index: $z-index;
// //   -webkit-transform: skewY($angle);
// //   transform: skewY($angle);
// // }
