.best-way {
	h1 {
		font: $head-largest-bold-font;
		color: $color-3;
	}
	h2 {
		font: $head-big-medium-font;
		text-align: center;
		margin-top: 4em;
		position: relative;
	}
	img {
		display: none;
		max-width: 13em;
		@media screen and (min-width: 550px) {
			max-width: 25em;
			display: initial;
		}
	}
	.title-text {
		h1{
			z-index: -1;
		}
		p {
			position: relative;
			z-index: -1;
		}
		width: 34em;
		padding: 1em;
		@media screen and (min-width: 550px) {
			padding: 2em;
		}
	}
	.title-wrapper {
		@include flexbox;
		align-items: center;
		margin-top: 1em;
		@media screen and (min-width: 550px) {
			margin-top: 2em;
		}
		@media screen and (min-width: 1030px) {
			margin-top: 6em;
		}
		p {
			color: $color-3;
			font: $head-small-light-font;
			span {
				font: $head-small-bold-font;
			}
		}
	}
	.highlight-link {
		width: 10em;
		height: 3.5em;
		margin: 2.5em 6em 2em 0;
		padding: .5em 0;
		background-color: $color-2;
		color: $color-3;
		border-color: $color-7;
		font: $small-button-link-font;
		&:hover {
			border-color: $color-2;
			background-color: $color-7;
		}
	}
	.get-it-free {
		position: relative;
		p {
			text-align: center;
			margin: 0.5em auto;
			font: $head-small-light-font;
			color: $color-4;
			width: 90%;
			@media screen and (min-width: 550px) {
				width: 100%;
			}
		}
		&:after {
			display: none;
			@media screen and (min-width: 750px) {
				background: url("../assets/arrowblack.svg") no-repeat;
				display: block;
				background-size: contain;
				content: '';
				height: 4em;
				width: 2em;
				margin-left: 2em;
				position: absolute;
				right: 22%;
				bottom: 5em;
				@media screen and (min-width: 650px) {
				}
			}
		}
		.download-link-wrapper {
			a {
				margin-top: 0.5em;
				@media screen and (min-width: 550px) {
					margin-top: 0;
				}
			}
			@media screen and (min-width: 550px) {
				padding-top: 3em;
			}
		}
	}
}
