.blogroll {
    padding: 1em;
  h1 {
    font: $head-med-bold-font;
    color: $color-text-theme;
    margin-bottom: 2em;
    .accent-bar-L {
      height: 0.2em;
      width: 20%;
    }
  }
  a {
    &:hover {
      p {
        color: $color-text-theme;
      }
      li {
        border-color: $color-text-theme;
      }
    }
  }
  li {
    margin-bottom: 1em;
    border: 1px solid transparent;
    padding: 0.2em;
    p {
      font: $text-small-light-font;
      color: $color-text-medium-light;
      &.pub-date {
        margin-top: 1em;
        color: $color-text-medium;
      }
    }
    img {
      width: 4em;
      float: left;
      margin: 0 1em 0 0;
    }
  }
}
