.blogroll {
  padding: 0.5em;
  h1 {
    font: $head-med-bold-font;
    color: $color-text-theme;
    margin-bottom: 2em;
    .accent-bar-L {
      height: 0.2em;
      width: 20%;
      background-color: $color-5;
    }
  }
  li {
    position: relative;
    margin-bottom: 1em;
    p {
      font: $text-small-light-font; 
      color: $color-text-medium-light;
      font-weight: 100;
      &.pub-date {
        margin-top: 1em; 
        color: $color-text-medium;
      }
    }
    img {
      width: 20%;
      float: left;
      margin: 0 1em 0 0;
    }
  } 
}
