.img-carousel {
  padding-bottom: 1.5em;
  overflow: auto; 
  max-width: 100%;
  // carousel items
  li {
    float: left;
    margin: 0 auto;
    list-style-type: none;
  }
  // carousel dots
  ol {  
    position: absolute;
    width: 30%;
    top: 0;
    right: 32%;
    text-align: center;
    @media screen and (min-width: 50em) {
      width: 1%;
      top: 0;
      right: 10px;
    }
    // individual dots
    .dot {
      display: inline-block;
      margin: 0.25em 0.5em;
      padding: 0;
      border: 1px solid $color-link-button-background;
      border-radius: 50%;
      height: 0.5em;
      width: 0.5em;
      background-color: transparent;
      &:first-child {
        margin-left: 0.75em;
        @media screen and (min-width: 50em) {
          margin-left: 0.5em;
        }
      }
      &.active {
        background-color: $color-link-button-background;
      }
      @media screen and (min-width: 50em) {
        display: block;
      }
    }
  }
  // review paragraph
  p {
    margin: 1em auto;
    padding-top: 1em;
    width: 90%;
    font: $text-light-font;
    font-style: italic;
    color: $color-text-light;
    @media screen and (min-width: 50em) {
      margin: 0 auto;
      width: 70%;
    }
  }
  // reviewer info
  .profile {
    margin: 0 20%;
    width: 60%;
    @media screen and (min-width: 50em) {
      margin: 0 40%;
      width: 22%;
    }
  }
  // reviewer photo
  .circle {
    @include sm-circular-frame(3em);
    float: left;
    margin: 0 0.5em;
    @media screen and (min-width: 50em) {
      margin-left: 0;
    }
  }
}
