.img-carousel {
  padding-bottom: 1.5em;
  overflow: auto; 
  // carousel items
  li {
    list-style-type: none;
    float: left;
  }
  // carousel dots
  ol {  
    position: absolute;
    width: 20%;
    top: 0;
    right: 40%;
    @media screen and (min-width: 50em) {
      width: 1%;
      top: 0;
      right: 10px;
    }
    .dot {
      display: inline-block;
      padding: 0;
      border: 1px solid $color-link-button-background;
      border-radius: 50%;
      height: 0.5em;
      width: 0.5em;
      background-color: transparent;
      &.active {
        background-color: $color-link-button-background;
      }
      @media screen and (min-width: 50em) {
        display: block;
      }
    }
  }
  // review paragraph
  p {
    margin: 1em auto;
    width: 90%;
    @media screen and (min-width: 50em) {
      width: 70%;
      margin: 0 auto;
    }
  }
  // reviewer info
  .app-reviewer {
    width: 60%;
    margin: 0 20%;
    @media screen and (min-width: 50em) {
      width: 20%;
      margin: 0 40%;
    }
  }
}
body {
  background: $color-7;
}