.img-carousel {
  padding-bottom: 1.5em;
  overflow: auto; 
  ol {
    position: absolute;
    width: 20%;
    top: 0;
    right: 40%;
    @media screen and (min-width: 50em) {
      width: 1%;
      top: 0;
      right: 10px;
    }
  }
}
