.download-app {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	align-items: flex-start;
	width: 90%;
	.download-img {
		position: relative;
		img:nth-child(1) {
			z-index: 0;
		}
		img:nth-child(2) {
			position: absolute;
			top: -1em;
			left: 8.5em;
			z-index: 0;
		}
	}
	.download-link {
		h1, svg {
			width: 100%;
		}
		p {
			width: 100%;
			
		}
	}
	.download-form {
		
	}
}