.download-app-section {
	margin-top: 8em;
	padding-bottom: 2em;
	@include flexbox;
	position: relative;
	h1 {
		margin-bottom: 2em;
	}
	justify-content: space-around;

	.download-img {
		position: relative;
		margin: 1em;

		img:nth-child(1) {
			z-index: 0;
			width: 16em;
			height: 30em;
		}
		img:nth-child(2) {
			position: absolute;
			width: 17em;
			top: -5%;
			left: 33%;
			z-index: 0;
		}
	}
	.download-link {
		h1 {
			width: 20em;
			font: $head-big-light-font;
			span {
				font: $head-med-bold-font;
			}
			span.accent-bar-L {
				width: 13%;
				color: $color-5;
			}
		}
		&:before {
			@include pic-insert(url("../assets/arrowblack.svg"), 8%);
		}
	}
		p {
			font: $text-light-font;
			color: $color-text-medium;
	}
	.download-link-wrapper {
		display: inline-block;
		.lg-eclipse-border {
			display: inline-block;
			margin: 2em 1em 0 0;

		}
		span {
			display: inline-block;
		}
	}
}
