.download-app-section {
	margin-top: 2em;
	padding-bottom: 2em;
	@include flexbox;
	position: relative;
	.download-img {
		position: relative;
		margin-top: 5%;
		margin-right: 5%;
		margin-left: 5%;
		width: 16em;
		img:nth-child(1) {
			z-index: 0;
			height: 23em;
		}
		img:nth-child(2) {
			position: absolute;
			width: 78%;
			top: -5%;
			left: 33%;
			z-index: 0;
		}
		@media screen and (max-width:1075px) {
			display: none;
		}
	}
		p {
			font: $text-light-font;
			color: $color-text-medium;
			margin-top: 3em;
	}
	.download-link {
		margin-top: 3em;
		margin-right: .5em;
		margin-left: .5em;
		}
		h1 {
			font: $head-big-light-font;
			span {
				font-weight: 600;
			}
			span.accent-bar-L {
				width: 13%;
				color: $color-5;
			}
		}
	.download-link-wrapper {
		display: inline-block;
		.lg-eclipse-border {
			display: inline-block;
			margin: 2em 1em 0 0;
		}
		span {
			display: inline-block;
		}
	}
}
.download-link-form {
	margin-left: 1em;
	margin-right: 1em;
  @media screen and (min-width: 1030px) {
		margin-left: 4em;
  }
}


