.download-app {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	align-items: flex-start;
	width: 90%;
	.download-img {
		position: relative;
		img:nth-child(1) {
			z-index: 0;
		}
		img:nth-child(2) {
			position: absolute;
			top: -1em;
			left: 8.5em;
			z-index: 0;
		}
	}
	.download-link {
		h1 {
			@include pic-insert(url("../assets/arrowblack.svg"), contain);
			background-position: 70%, 90%; 
			background-size: 8%;
			height: 5em;
			width: 20em;
			font: $head-big-light-font;
			span {
				font: $head-big-bold-font;
				}
			}
		p {			
			font: $text-light-font;
			color: $color-text-medium;
			padding: 2em;
		}
	}
	.download-form {
		
	}
}