figcaption {
  font: $head-x-small-light-font;
  .app-reviewer & {
    padding-top: 0.5em;
    text-align: left;
    color: $color-text-light;
    .reviewer-name {
      font-size: 120%;
      display: block;
    }
  }
}