form {
  font: $text-light-font;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto 2em auto;
  p {
    color: $color-text-medium;
    text-align: center;
  }
  textarea {
    padding: 0.5em 0 0 0;
    border: none;
    border-bottom: 1px solid $color-border;
    font-size: 0.7em;
    color: $color-border;
    font: $text-form-textarea;
  }
  legend, label {
    color: $color-text-dark;
  }
  legend {
    font: $text-bold-font;
  }
  input {
    box-sizing: border-box;
    border: none;
    padding: 0;
    &::-webkit-input-placeholder {
      color: #bbb;
      line-height: 1;
      background: transparent;
    }
    &:-moz-placeholder { /* Firefox 18- */
      @extend -webkit-input-placeholder }
    &::-moz-placeholder {  /* Firefox 19+ */
      @extend -webkit-input-placeholder }
    &:-ms-input-placeholder {
      @extend -webkit-input-placeholder }
  }
  ::-webkit-input-placeholder {
    font: $text-light-font;
  }
  :-moz-placeholder { /* Firefox 18- */
    font: $text-light-font;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    font: $text-light-font;
  }
  :-ms-input-placeholder {
    font: $text-light-font ;
  }
  .sm-button-eclipse-border {
    border-color: $color-7;
    background: $color-2;
    color: $color-3;
  }
}
.quickform {
  @extend form;
  @media only screen and (min-width: 550px) {
    width: 70%;
  }
  width: 90%;
  margin-left: 1em;
  border-bottom: 1px solid #bbb;
  legend {
    margin-bottom: 1em;
  }
  input {
    padding-bottom: 0.5em;
    height: 3em;
    background-color: $color-background-medium;
    font-size: 1em;
  }
  button {
    float: right;
    margin-top: 0.1em;
  }
}

