
.getitfree {
  font: $head-big-medium-font;
  text-align: center;
  margin-top: 3em;
  + div p {
    text-align: center;
    margin-top: 0.5em;
    font: $head-small-light-font;
    color: $color-4;
    display: flex;
    justify-content: center;
    margin-left: 4em;
    &:after {
      background: url("../assets/arrowblack.svg") no-repeat;
      background-size: contain;
      display: block;
      content: '';
      height: 4em;
      width: 2em;
      margin-left: 2em;
    }
  }
}

.getitfree-link-wrapper {
  @include flexbox;
  margin-bottom: 3em;
}

