li {
  .app-reviewer {
    margin: 0 5%;
    @media screen and (min-width: 50em) {
      margin: 0 35%;
    }
  }
  .img-carousel & { 
    list-style-type: none;
    figure {
      width: 90%;
    }
    p {
      margin-top: 1em;
      @media screen and (min-width: 50em) {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
  .img-carousel ul & { 
    float: left; 
  }
  .img-carousel ol &.dot {
    display: inline-block;
    padding: 0;
    border: 1px solid $color-link-button-background;
    border-radius: 50%;
    height: 0.5em;
    width: 0.5em;
    background-color: transparent;
    @media screen and (min-width: 50em) {
      display: block;
    }
    &.active {
      background-color: $color-link-button-background;
    }
  } 
  .social-icon-links & {
    padding: 1em;
    display: inline-block;
    font-size: 1em;
  }
  .carousel-wrap & {
    padding: 1em;
  }

/*-- Design Pricing List --*/

  .features & {
    @include flex_item;
    width: 12em;
    span {
      margin: 0 auto;
    }
    h3 {
      text-align: center;
      margin: 0.5em;
    }
    p {
      margin: 0.5em;
    }
    &:hover {
			color: $color-icon-h;
			background: $color-icon-background-h;
    }
  }

  &.pricing-list-item {
		border: 1px solid $color-border;
    width: 20em;
    list-style: none;
    position: relative;
    margin: 0 1em;
    margin-bottom: 1em;
    text-align: center;
    &:hover {
			background-color: $color-background-price-h;
			box-shadow: 0 0 8px 8px $color-background-price-h;
      > h3 {
        background-color: $color-2;
        color: $color-3;
      }
      > span {
        background-color: $color-2;
        color: $color-3;
        border-color: $color-3;
        > span {
          color: $color-3;
        }
      }
      > a {
        background-color: $color-2;
        border-color: $color-7;
        color: $color-3;
      }
    }
    > span {
      position: absolute;
      margin: 0 6.5em;
      top: 6em;
      background-color: $color-3;
      border-color: $color-4;
      > .price {
        font-size: x-large;
        color: $color-2;
        font-weight: 700;
      }
      > .permonth {
        font-size: .8em;
      }
    }
    & li {
      list-style: none;
      line-height: 2;
    }
    a {
      width: 8em;
      margin: 2.5em 6em 2em;
      padding: .5em 0;
    }
    h3 {
      font-size: 1.25em;
      font-weight: 700;
      padding-top: 2em;
      padding-bottom: 4.5em;
    }
  }
}
.why-choose-item {
  @include flexbox;
  & > div {
    width: 15em;
    > h3 {
      margin-bottom: 1em;
      font-weight: 700;
    }
    > p {
      color: $color-4;
      font-size: .9em;
    }
  }
  & > span {
    color: $color-2;
    &:hover {
      color: $color-4;
    }
  }
}

.why-choose-wrapper {
  @include flexbox;
}

