li {
  text-align: center;
  .social-icon-links & {
    padding: 1em;
    display: inline-block;
    font-size: 1em;
  }

/*-- Design Pricing List --*/

  .features & {
    display: inline-block;
    width: 100%;
    span {
      margin: 0 auto;
    }
    h3 {
      text-align: center;
      margin: 0.5em;
    }
    p {
      margin: 0.5em;
    }
    &:hover {
      color: red;
      background: green;
    }
  }

  &.pricing-list-item {
    border: 1px solid lightgray;
    width: 20em;
    list-style: none;
    position: relative;
    margin: 0 1em;
    margin-bottom: 1em;
    &:hover {
      background-color: $color-8;
      box-shadow: 0 0 8px 8px $color-8;
      > h3 {
        background-color: $color-2;
        color: $color-3;
      }
      > span {
        background-color: $color-2;
        color: $color-3;
        border-color: $color-3;
        > span {
          color: $color-3;
        }
      }
      > a {
        background-color: $color-2;
        border-color: $color-7;
        color: $color-3;
      }
    }
    > span {
      position: absolute;
      margin: 0 6.5em;
      top: 6em;
      background-color: $color-3;
      border-color: $color-4;
      > .price {
        font-size: x-large;
        color: $color-2;
        font-weight: 700;
      }
      > .permonth {
        font-size: .8em;
      }
    }
    & li {
      list-style: none;
      line-height: 2;
    }
    a {
      width: 8em;
      margin: 2.5em 6em 2em;
      padding: .5em 0;
    }
    h3 {
      font-size: 1.25em;
      font-weight: 700;
      padding-top: 2em;
      padding-bottom: 4.5em;
    }
  }
}
