nav {
	font: $header-font;
	background: $color-background-header;
	color: $color-text-light;
	width: 100%;
	top: 0;
	height: 5em;
	z-index: 2;
	ul {
		background-color: black;
	}
}
.appbox-logo {
	float: left;
	margin-top: 2em;
	margin: 0 auto;
	display: block;
	width: 8em;
	padding-top: 1.5em;
	padding-left: 2em;
}
input[type=checkbox] {
	display: none;
}
