.feature-image-wrapper {
  padding: 2em;
  background-color: $color-background-blue;
  @include flexbox;
  // small button
  a {
    font: $small-button-link-font;
    background-color: $color-link-button-background;
    width: 5em;
    &:hover {
      background-color: $color-link-button-background-h;
    }
  }
  h2 {
    text-align: left;
    color: $color-text-light;
    font: $head-big-medium-font;
    margin-bottom: 1em;
  }
  p {
    text-align: left;
    font: $text-light-font;
    color: $color-text-light;
    margin-bottom: 2em;
  }
  aside {
    color: $color-text-light;
    font: $text-bold-font;
  }
  img {

  }

}
