.newspaper-section {
  position: relative;
  margin-bottom: 4em;
  h1 {
    font: $head-big-light-font;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    color: $color-5;
  }
}
/*--Links to newspapers--*/
.newspaper-list {
  @include flexbox;
  @media only screen and (min-width: 850px) {
    margin: auto 8em;
  }
  @media only screen and (min-width: 1200px) {
    margin: auto 12em;
  }
  li {
    &:first-child {
      @include pic-insert(url("../images/NewYorkTimes.svg.png"), 90%)
    }
    &:nth-child(2) {
      @include pic-insert(url("../images/Forbes_logo.svg.png"), 40%)
    }
    &:nth-child(3) {
      @include pic-insert(url("../images/The_Wall_Street_Journal_Logo.svg.png"), 90%)
    }
    &:nth-child(4) {
      @include pic-insert(url("../images/The_Guardian.svg.png"), 75%)
    }
    &:nth-child(5) {
      @include pic-insert(url("../images/The_Verge_wordmark.svg"), 50%)
    }
    &:nth-child(6) {
      @include pic-insert(url("../images/tc-techcrunch.svg"), 60%)
    }
    &:nth-child(7) {
      @include pic-insert(url("../images/lifehacker-uk.svg"), 60%)
    }
    &:nth-child(8) {
      @include pic-insert(url("../images/Mashable.png"), 55%)
    }
  }
}
