p {
  li & {
    text-align: center;
  }
  footer & {
    text-align: center;
    @media screen and (min-width: 50em) {
      text-align: left;
    }
  }
  .features & {
    text-align: center;
  }
  .img-carousel & {
    font: $text-light-font;
    font-style: italic;
    color: $color-text-light;
    padding-top: 1em;
  }
}
