p {
  li & {
    text-align: center;
  }
  footer & {
    text-align: center;
    color: $color-text-light;
    font: $footer-font;
    @media screen and (min-width: 50em) {
      text-align: left;
    }
  }
  .features & {
    text-align: center;
  }
}
