.pricing-list {
    @include flexbox;
  }
.pricing-features {
  border-top: 1px solid $color-border;
  :first-child {
    margin-top: 5.5em;
  }
}
.pricing {
  padding-bottom: 3em;
  position: relative;
  h1 {
    font: $head-big-medium-font;
    color: $color-4;
    text-align: center;
    margin-top: 2em;
  }
  p {
    font: $text-light-font;
    color: $color-4;
    margin: 2em auto;
    text-align: center;
		width: 70%;
		@media screen and (min-width:550px){
			width: 60%;
		}
  }
  h2 {
    margin-top: 1em;
    font: $head-big-light-font;
    font-size: 150%;
    color: $color-text-light;
    text-align: center;
  }
  h4 {
    padding-top: 0.5em;
    padding-bottom: 1em;
    font: $head-x-small-light-font;
    color: $color-text-light;
    text-align: center;
    @media screen and (min-width: 50em) {
      padding-bottom: 3em;
    }
  }
  a {
    &:hover {
      border-color: $color-text-light;
    }
  }
  .team {
    @media screen and (min-width: 50em) {
      width: 100%;
      margin: 0 5%;
    }
  }
  .team li {
    @media screen and (min-width: 50em) {
      float: left;
      width: 15%;
    }
  }
  .drawn-arrow-wh {
    bottom: -4em;
    right: -3em;
    @media screen and (min-width: 50em) {
      right: 20%;
      bottom: -2em;
    }
  }
  .profile {
    width: 100%;
    margin-top: 2em;
    .circle {
      @include circular-frame(6em);
    // .circular-frame {
      margin: 0 auto;
    }
    figcaption {
      text-align: center;
    }
  }
}
.pricing-list-item {
  border: 1px solid $color-border;
  width: 20em;
  list-style: none;
  position: relative;
  margin: 0 1em;
  margin-bottom: 1em;
  text-align: center;
  color: $color-4;
  &:hover {
    background-color: $color-background-price-h;
    box-shadow: 0 0 8px 8px $color-background-price-h;
    h3 {
      background-color: $color-2;
      color: $color-3;
    }
    span {
      background-color: $color-2;
      color: $color-3;
      border-color: $color-3;
      span {
        color: $color-3;
      }
    }
    a {
      background-color: $color-2;
      border-color: $color-7;
      color: $color-3;
    }
  }
  > span {
    position: absolute;
		left: 30%;
    top: 5em;
    background-color: $color-3;
    border-color: $color-4;
    > .price {
      font: $text-bold-font;
      color: $color-2;
    }
    > .permonth {
      font: $list-item-font;
    }
  }
  & li {
    list-style: none;
    font: $list-item-font;
  }
  a {
    font: $med-button-link-font;
    width: 8em;
    margin: 2.5em auto 2em;
    padding: .5em 0;
  }
  h3 {
    color: $color-5;
    font: $head-med-bold-font;
    font-weight: 700;
    padding-top: 2em;
    padding-bottom: 5em;
  }
}

