.profile {
  width: 90%;
  padding-top: 1em;
  @media screen and (min-width: 50em) {
    padding-top: 2em;
  }
  figcaption {
    font: $head-x-small-light-font;
    padding-top: 0.5em;
    text-align: left;
    color: $color-text-light;
    .name {
      font-size: 120%;
      display: block;
    }
  }
}
