.screenshots {
  h1 {
    font: $head-big-medium-font;
    text-align: center;
    color: $color-5;
    margin: 2em 0;
  }
  .screenshot-gallery {
    margin: 0 auto 6em auto;
    width: 80%;
    img {
      padding: 0 1em;
    }
  }
}