.screenshot-section-wrapper {
  position: relative;
}
.screenshots {
  h1 {
    font: $head-big-medium-font;
    text-align: center;
    color: $color-5;
    position: relative;
    padding: 2em;
		padding-bottom: 1em;
  }
  .screenshot-gallery {
    margin: 1.5em auto 0 auto;
    padding-bottom: 3em;
    @media screen and (min-width: 50em) {
      padding-bottom: 6em;
    }
    width: 80%;
    img {
      padding: 0 1em;
    }
  }
}
