.app-support {
  h1 {
    font: $head-big-light-font;
    color: $color-text-medium;
    text-align: center;
  }
  ul {
    width: 90%;
    margin: 0 auto;
    font: $text-small-light-font;
    color: $color-text-medium;
    @media screen and (min-width: 50em) {
      margin-left: 15%;
      float: left;
      width: 25%;
    } 
    li {
      margin: 2.5em 15%;
      @media screen and (min-width: 50em) {
        margin: 2.5em 10%;
      }
    }
    h3 {
      font: $head-med-bold-font;
      color: $color-text-dark;
      margin: 0.5em 0 1em 0;
    }
    a {
      display: block;
      margin-bottom: 0.25em;
      &:hover {
        color: $color-text-theme;
      }
    }
    span {
      float: left;
      color: $color-2;
      margin-right: 1.5em;
      &:before {
        font-size: 2em;
      }
      &:hover {
        border-color: $color-4;
      }
    }
  }
  .fullform {
    @extend form;
    width: 80%;
    @media screen and (min-width: 50em) {
      width: 45%;
      margin-right: 15%;
      margin-top: 2.5em;
    }
    p {
      margin-bottom: 1em;
      @media screen and (min-width: 50em) {
        text-align: left;
      }
    }
    label {
      font-size: 1em;
    }
    input {
      padding-bottom: 0.5em;
      height: 3em;
      border-bottom: 1px solid #bbb;
    }
    input:first-child {
      display: block;
      width: 100%;
      margin-bottom: 1em;
      @media screen and (min-width: 50em) {
        margin-right: 0.5%;
        margin-bottom: 3em;
        width: 50% - 0.5%;
        float: left;
      }
    }
    input:nth-child(2) {
      @extend :first-child;
      margin-bottom: 2em;
      @media screen and (min-width: 50em) {
        margin-left: 0.5%;
        margin-right: 0;
      }
    }
    label {
      display: block;
      clear: left;
    }
    textarea {
      display: block;
      width: 100%;
      margin-bottom: 2em;
    }
    button {
      margin: 0 40%;
      @media screen and (min-width: 50em) {
        margin: 0;
        float: left;
      }
    }
  }
}
.amazing-features {
  background-color: $color-background-lightGray;
  div.feature-image-wrapper {
    padding: 2em;
    background-color: $color-background-blue;
    h2 {
      margin-bottom: 1em;
    }
    p {
      margin-bottom: 2em;
    }
    aside {
      color: $color-text-light;
      font: $text-bold-font;
    }

  }
}
.pricing {
  background: $color-2;
  padding-bottom: 3em;
  h2 {
    margin-top: 1em;
    font: $head-big-light-font;
    font-size: 150%;
    color: $color-text-light;
    text-align: center;
  }
  h4 {
    padding-top: 0.5em;
    padding-bottom: 1em;
    font: $head-x-small-light-font;
    color: $color-text-light;
    text-align: center;
    @media screen and (min-width: 50em) {
      padding-bottom: 3em;
    }
  }
  a {
    &:hover {
      border-color: $color-text-light;
    }
  }
  .team {
    @media screen and (min-width: 50em) {
      width: 100%;
      margin: 0 5%;
    }
  }
  .team li {
    @media screen and (min-width: 50em) {
      float: left;
      width: 15%;
    }
  }
  .drawn-arrow-wh {
    bottom: -4em;
    right: -3em;
    @media screen and (min-width: 50em) {
      right: 20%;
      bottom: -2em;
    }
  }
  .profile {
    width: 100%;
    margin-top: 2em;
    .circle {
      @include circular-frame(6em);
    // .circular-frame {
      margin: 0 auto;
    }
    figcaption {
      text-align: center;
    }
  }
}



