class {
	color: #666666;
	font: 300 14px / 40px Roboto;
	color: #666666;
	font: 300 14px / 22px Roboto;
	color: #666666;
	font: 300 12px / 22px Roboto;
	color: #cccccc;
	font: 300 12px / 20px Roboto;
	color: #666666;
	font: 300 16px Roboto;
	color: #ffffff;
	font: 500 1.125em Roboto;
	color: #666666;
	font: 300 14px / 22px Roboto;
}

/////buttons////////
$small-button-link-font: 500 0.750em  Roboto;
$big-button-link-font: 1.375em Roboto;

////heads///////
////big
$head-big-bold-font: 600 2.500em Raleway;
$head-big-medium-font: 400 1.875em Raleway;
$head-big-light-font: 300 2.000em Raleway;
/////small
$head-small-bold-font: 600 0.938em Raleway;

///////text////////
$text-bold-font: 500 1.125em Roboto;
$text-light-font: 300 0.875em Roboto;
$text-light-font: 300 0.750em Roboto;

//////header-footer//////
$header-font: 400 0.875em Roboto;
$footer-font: 300 0.750em Roboto;
