/////buttons////////
$small-button-link-font: 500 0.750em  Roboto;
$big-button-link-font: 1.375em Roboto;

////heads///////
////big
$head-big-bold-font: 600 2.500em Raleway;
$head-big-medium-font: 400 1.875em Raleway;
$head-big-light-font: 300 2.000em Raleway;
/////small
$head-small-bold-font: 600 0.938em Raleway;

///////text////////
$text-bold-font: 500 1.125em Roboto;
$text-light-font: 300 0.875em Roboto;
$text-light-font: 300 0.750em Roboto;

//////header-footer//////
$header-font: 400 0.875em Roboto;
$footer-font: 300 0.750em Roboto;
