ul {
  &.social-icon-links {
    text-align: center;
    @media screen and (min-width: 50em) {
      text-align: right;
    }
  }
  &.features {
    @media screen and (min-width: 50em) {
      @include flex_wrapper;
    }
    li {
      margin: 1em auto;
    }
  }
  &.pricing-list {
    @include flexbox;

  }

  &.pricing-features {
    border-top: 1px solid lightgray;
    :first-child {
      margin-top: 5.5em;
    }
  }
}
