ul {
  &.social-icon-links {
    text-align: center;
    @media screen and (min-width: 50em) {
      text-align: right;
    }
  }
  &.pricing-list {
    @include flexbox;
  }
  &.pricing-features {
    border-top: 1px solid lightgray;
    margin-top: 3.5em;
    :first-child {
      margin-top: 5.5em;
    }
  }
}
