
.video-header {
  font: $head-big-medium-font;
  color: $color-5;
  padding: 2em;

}
.video-section {
  text-align: center;
  margin-bottom: 4em;
  position: relative;
}
video {
  width: 60%;
  margin-bottom: 4em;
}

