

.why-choose {
  padding-bottom: 2em;
  h1 {
    font: $head-big-medium-font;
    color: $color-4;
    margin-top: 2em;
    text-align: center;
  }
  h2 {
    margin-top: 1em;
    font: $head-big-light-font;
    font-size: 150%;
    color: $color-text-light;
    text-align: center;
  }
  h4 {
    padding-top: 0.5em;
    padding-bottom: 1em;
    font: $head-x-small-light-font;
    color: $color-text-light;
    text-align: center;
    @media screen and (min-width: 50em) {
      padding-bottom: 3em;
    }
  }
  .icon-quotes {
    color: $color-text-light;
  }
  .sm-semicircular-eclipse-border {
    margin: 0 auto;
    .icon-quotes {
      margin-top: 1em;
    }
  }
  .drawn-arrow-wh {
    bottom: -1em;
    right: -3em;
    @media screen and (min-width: 50em) {
      bottom: 1.5em;
      right: 15%;
    }
  }
  .img-carousel {
    position: relative;
    margin: 0 auto;
    @media screen and (min-width: 50em) {
      width: 80%;
    }
  }
}
