.why-choose {
  padding-top: 1em;
  position: relative;
  h1 {
    font: $head-big-medium-font;
    color: $color-4;
    text-align: center;
    &:before {
      @include pic-insert(url("../assets/live-support.png"), 100%);
        content: '';
        height: 15em;
        width: 12em;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -14.5em;
        margin-left: 27em;
        @media screen and (max-width: 1150px) {
          margin-left: 22em;
        }
        @media screen and (max-width: 1000px) {
          margin-left: 19em;
        }
        @media screen and (max-width: 900px) {
          display: none;
        }
      }
    }
  h2 {
    margin-top: 1em;
    font: $head-big-light-font;
    font-size: 150%;
    color: $color-text-light;
    text-align: center;
  }
  h4 {
    padding-top: 0.5em;
    padding-bottom: 1em;
    font: $head-x-small-light-font;
    color: $color-text-light;
    text-align: center;
    @media screen and (min-width: 50em) {
      padding-bottom: 3em;
    }
  }
  .icon-quotes {
    color: $color-text-light;
  }
  .sm-semicircular-eclipse-border {
    margin: 0 auto;
    .icon-quotes {
      margin-top: 1em;
    }
  }
  .drawn-arrow-wh {
    bottom: -1em;
    right: -3em;
    @media screen and (min-width: 50em) {
      bottom: 1.5em;
      right: 15%;
    }
  }
  .review-gallery {
    p {
      width: 100%;
      margin-top: 2em;
      font: $text-light-font;
      font-style: italic;
      color: $color-text-light;
      text-align: center;
      @media screen and (min-width: 50em) {
        width: 55%;
        margin: 0 auto;
      }
    }
    .profile {
      margin: 0 auto;
      width: 80%;
      padding-left: 2em;
      @media screen and (min-width: 50em) {
        margin: 0 auto;
        width: 28%;
        padding-left: 4em;
      }
    }
    .circle {
      @include sm-circular-frame(3em);
      float: left;
      margin: 0 0.5em;
      @media screen and (min-width: 50em) {
        margin-left: 0;
      }
    }
  }
}
.app-review-wrapper {
  padding-bottom: 4em;
  position: relative;
}
